h1 {
    text-align: center;
}

body {
    text-align: center;
}

.text_input {
    width: 50%;
    margin: auto auto;
}

.left {
    text-align: left;
    margin-left: 20%
}
.progress {
	margin-bottom: 10px;
	
}